Repository NHSISL/ISL.ReIdentification, pull requests merged in 2024-09, with the labels that each got.

#8 INFRA: Build scripts
  .github/workflows/build.yml
  ISL.Reidentification.Infrastructure/ISL.Reidentification.Infrastructure.csproj
  ISL.Reidentification.Infrastructure/Program.cs
  ISL.Reidentification.Infrastructure/Services/ScriptGenerationService.cs
  ISL.Reidentification.sln
Labels: INFRA

#12 DATA: DelegatedAccess
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/DelegatedAccess.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/UserAccess.cs
Labels: DATA

#14 FOUNDATIONS: DelegatedAccess Add
  ISL.Reidentification.Core.Tests.Unit/ISL.Reidentification.Core.Tests.Unit.csproj
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.cs
  ISL.Reidentification.Core.Tests.Unit/UnitTest1.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/AlreadyExistsDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/DelegatedAccessDependencyException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/DelegatedAccessDependencyValidationException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/DelegatedAccessServiceException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/DelegatedAccessValidationException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/FailedOperationDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/FailedServiceDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/FailedStorageDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/InvalidDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/NullDelegatedAccessException.cs
  ISL.Reidentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Exceptions.Add.cs
  ISL.Reidentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Validations.Add.cs
  ISL.Reidentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.cs
  ISL.Reidentification.Core/Services/Foundations/DelegatedAccesses/IDelegatedAccessService.cs
Labels: FOUNDATIONS

#13 FOUNDATIONS: UserAccess Add
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.Reidentification.Core/ISL.Reidentification.Core.csproj
  ISL.Reidentification.Core/Models/Foundations/DelegatedAccesses/Exceptions/FailedOperationDelegatedAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/AlreadyExistsUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/FailedOperationUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/FailedServiceUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/FailedStorageUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/InvalidUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/NullUserAccessException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/UserAccessDependencyException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/UserAccessDependencyValidationException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/UserAccessServiceException.cs
  ISL.Reidentification.Core/Models/Foundations/UserAccesses/Exceptions/UserAccessValidationException.cs
  ISL.Reidentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.Reidentification.Core/Services/Foundations/UserAccesses/UserAccessService.Exceptions.cs
  ISL.Reidentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.Reidentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.Reidentification.sln
Labels: FOUNDATIONS

#16 FOUNDATIONS: DelegatedAccess Add Length Validation
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.cs
  ISL.Reidentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Validations.Add.cs
Labels: FOUNDATIONS

#29 BROKERS: Lookups
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/IReIdentificationStorageBroker.Lookups.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/ReIdentificationStorageBroker.Lookups.cs
Labels: BROKERS

#19 FRONTEND BROKER/MODEL/SERVICE: Lookup
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/.gitignore
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/ISL.ReIdentification.Configurations.Client.esproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/.gitignore
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/.vscode/launch.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/README.md
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/lib/guid.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/package-lock.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/package.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/tsconfig.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/dependencies/guid-typescript/tslint.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/package-lock.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/package.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/playwright.config.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/brokers/apiBroker.features.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/brokers/apiBroker.lookups.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/helpers/createNetworkInterceptor.js
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/lookups/lookup.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/lookups/lookupView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/lookupService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/views/lookups/lookupViewService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/tests-examples/demo-todo-app.spec.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/tests/help.txt
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/tests/login/loginAuthenticated.spec.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/vite.config.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
Labels: CODE RUB

#35 FOUNDATIONS: UserAccess Retrieve All
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/IReidentificationStorageBroker.UserAccess.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/ReidentificationStorageBroker.UserAccess.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAll.cs
Labels: FOUNDATIONS

#37 FOUNDATIONS: UserAccess Add Additional Length Validation
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Add.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
Labels: FOUNDATIONS

#38 FOUNDATIONS: Lookups
  ISL.ReIdentification.Clients/ISL.ReIdentification.Clients.csproj
  ISL.ReIdentification.Core.Tests.Unit/ISL.ReIdentification.Core.Tests.Unit.csproj
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Logic.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Logic.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Logic.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Logic.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/AlreadyExistsLookupException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/FailedLookupServiceException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/FailedLookupStorageException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/InvalidLookupException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/InvalidLookupReferenceException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/LockedLookupException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/LookupDependencyException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/LookupDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/LookupServiceException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/LookupValidationException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/NotFoundLookupException.cs
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/NullLookupException.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/Lookups/ILookupService.cs
  ISL.ReIdentification.Core/Services/Foundations/Lookups/LookupService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/Lookups/LookupService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Lookups/LookupService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.ReIdentification.Infrastructure/ISL.ReIdentification.Infrastructure.csproj
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.Modify.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.Modify.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Modify.cs
Labels: FOUNDATIONS

#36 FOUNDATIONS: DelegatedAccess Retrieve All
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/IDelegatedAccessService.cs
Labels: FOUNDATIONS

#34 BROKERS: Access Audit
  ISL.Reidentification.Core/Brokers/Storages/Sql/ReIdentifications/IReidentificationStorageBroker.AccessAudit.cs
  ISL.Reidentification.Core/Brokers/Storages/Sql/ReIdentifications/ReidentificationStorageBroker.AccessAudit.cs
Labels: BROKERS

#46 FOUNDATIONS: UserAccess RetrieveById
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RetrieveById.cs
Labels: FOUNDATIONS

#47 CONTROLLERS: Lookups Unit Tests
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/ISL.ReIdentification.Configurations.Server.Tests.Unit.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/LookupsController.cs
  ISL.ReIdentification.sln
Labels: CONTROLLERS

#48 FOUNDATIONS: DelegatedAccess RetrieveById
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/IDelegatedAccessService.cs
Labels: FOUNDATIONS

#49 FOUNDATIONS: UserAccess RemoveById
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RemoveById.cs
Labels: FOUNDATIONS

#45 FOUNDATIONS: Access Audit Add
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Exceptions.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Logic.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/AccessAuditDependencyException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/AccessAuditDependencyValidationException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/AccessAuditServiceException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/AccessAuditValidationException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/AlreadyExistsAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/FailedOperationAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/FailedServiceAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/FailedStorageAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/InvalidAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/LockedAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/NotFoundAccessAuditException.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/Exceptions/NullAccessAuditException.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.Exceptions.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.Validations.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/IAccessAuditService.cs
Labels: FOUNDATIONS

#50 DATA: OdsData model
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/OdsData.cs
Labels: DATA

#51 DATA: Pds model
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/PdsData.cs
Labels: DATA

#54 BROKERS: ODS Data
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/IOdsStorageBroker.OdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/OdsStorageBroker.OdsData.cs
Labels: BROKERS

#55 BROKERS: PDS Data
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/IOdsStorageBroker.PdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/OdsStorageBroker.PdsData.cs
Labels: BROKERS

#62 FOUNDATIONS: Access Audit Retrieve By Id
  ISL.ReIdentification.sln
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Exceptions.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Logic.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.Validations.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.cs
Labels: FOUNDATIONS

#63 CONTROLLERS: DelegatedAccess POST
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/DelegatedAccessesController.cs
Labels: CONTROLLERS

#65 CONTROLLERS: UserAccess Post
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Post.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
Labels: CONTROLLERS

#52 FOUNDATIONS: DelegatedAccess Remove
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Exceptions.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Logic.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.RemoveById.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/IDelegatedAccessService.cs
Labels: FOUNDATIONS

#68 DATA: Identification Request
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/IdentificationRequest.cs
  ISL.Reidentification.Core/ISL.ReIdentification.Core.csproj
Labels: DATA

#69 CODE RUB: Stubs for Coordination and Orchestration Services
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IIdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Foundations/ReIdentifications/IReIdentificationService.cs
  ISL.ReIdentification.Core/Services/Foundations/ReIdentifications/ReIdentificationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/AccessOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/IAccessOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IIdentificationOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
Labels: CODE RUB

#70 CODE RUB: Moved model
  ISL.ReIdentification.Core/Models/Foundations/ReIdentifications/IdentificationRequest.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IIdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Foundations/ReIdentifications/IReIdentificationService.cs
  ISL.ReIdentification.Core/Services/Foundations/ReIdentifications/ReIdentificationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/AccessOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/IAccessOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IIdentificationOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
Labels: CODE RUB

#71 FOUNDATIONS: Access Audit Remove By Id
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Exceptions.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Logic.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.RemoveById.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.Validations.cs
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.cs
Labels: FOUNDATIONS

#72 CONTROLLERS: DelegatedAccess GetAll
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/DelegatedAccessesController.cs
Labels: CONTROLLERS

#73 CONTROLLERS: UserAccess Get
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Get.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
Labels: CONTROLLERS

#74 CONTROLLERS: DelegatedAccess Get
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/DelegatedAccessesController.cs
Labels: CONTROLLERS

#76 CONTROLLERS: DelegatedAccess Put
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/DelegatedAccessesController.cs
Labels: CONTROLLERS, resolve conflicts

#77 CONTROLLERS: UserAccess Put
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Put.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
Labels: CONTROLLERS

#75 BROKERS: NECS Re-Id
  ISL.Reidentification.Core/Brokers/NECS/INECSBroker.cs
  ISL.Reidentification.Core/Brokers/NECS/NECSBroker.cs
  ISL.Reidentification.Core/Models/Brokers/NECS/NECSConfiguration.cs
Labels: BROKERS

#78 CONTROLLERS: UserAccess Delete
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Delete.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
Labels: CONTROLLERS

#80 FOUNDATIONS: Pds RetrieveAll
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.cs
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/Exceptions/FailedServicePdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/Exceptions/FailedStoragePdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/Exceptions/PdsDataDependencyException.cs
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/Exceptions/PdsDataServiceException.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/IPdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.cs
Labels: FOUNDATIONS

#82 FOUNDATIONS: OdsData Retrieve All
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/FailedServiceOdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/FailedStorageOdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/OdsDataDependencyException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/OdsDataServiceException.cs
  ISL.ReIdentification.Core/Services/Foundations/Ods/IOdsService.cs
  ISL.ReIdentification.Core/Services/Foundations/Ods/OdsService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/Ods/OdsService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/Ods/OdsTests.Exceptions.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/Ods/OdsTests.Logic.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/Ods/OdsTests.cs
Labels: FOUNDATIONS

#79 CONTROLLERS: DelegatedAccess Delete
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/DelegatedAccessesController.cs
Labels: CONTROLLERS

#85 ACCEPTANCE: DelegatedAccess GetById
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.cs
Labels: ACCEPTANCE

#88 ACCEPTANCE: UserAccess Post
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.Logic.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.UserAccesses.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Models/Lookups/UserAccess.cs
Labels: ACCEPTANCE

#89 ACCEPTANCE: DelegatedAccess Put
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.DelegatedAccesses.cs
Labels: ACCEPTANCE

#91 ACCEPTANCE: UserAccess Get
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.Logic.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
Labels: ACCEPTANCE

#92 ACCEPTANCE: UserAccess Get All
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.Logic.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.UserAccesses.cs
Labels: ACCEPTANCE

#96 CODE RUB: Fixed filler for lookup
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
Labels: CODE RUB

#90 ACCEPTANCE: DelegatedAccess Delete
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.cs
Labels: ACCEPTANCE

#93 ACCEPTANCE: UserAccess Put
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.Logic.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.UserAccesses.cs
Labels: ACCEPTANCE

#95 CONTROLLERS: Pds GetAll
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/PdsDataController.cs
Labels: CONTROLLERS

#94 ACCEPTANCE: UserAccess Delete
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.Logic.cs
Labels: ACCEPTANCE

#98 FOUNDATIONS: OdsData Retrieve By Id
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/InvalidOdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/NotFoundOdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/OdsDataValidationException.cs
  ISL.ReIdentification.Core/Services/Foundations/Ods/OdsService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/IOdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Logic.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
Labels: FOUNDATIONS

#99 CONTROLLERS: OdsData Get All
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.GetAll.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CONTROLLERS

#100 CONTROLLERS: OdsData Get
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Get.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CONTROLLERS

#97 CONTROLLERS: Pds GetById
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/FeaturesApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/FeaturesApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/LookupsApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/PdsDataController.cs
Labels: CONTROLLERS

#102 ACCEPTANCE: OdsData Get By Id
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/MockOdsStorageBroker.OdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/Ods/MockOdsStorageBroker.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/OdsDatasApiTests.Logic.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/OdsDatasApiTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/AcceptanceTestApplicationFactory.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.OdsDatas.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Models/OdsDatas/OdsData.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
Labels: ACCEPTANCE

#104 CODE RUB: Code cleanup
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core/ISL.ReIdentification.Core.csproj
  ISL.ReIdentification.Core/Models/Foundations/Lookups/Exceptions/NotFoundLookupException.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/Exceptions/NotFoundOdsDataException.cs
  ISL.ReIdentification.Core/Models/Foundations/PdsDatas/Exceptions/NotFoundPdsDataException.cs
  ISL.ReIdentification.Core/Services/Foundations/Lookups/LookupService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/IPdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Functions/ISL.ReIdentification.Functions.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/DelegatedAccesses/DelegatedAccessesControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/Lookups/LookupsControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/ISL.ReIdentification.Configurations.Server.Tests.Unit.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/LookupsController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/PdsDataController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Modify.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Modify.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RemoveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core/ISL.ReIdentification.Core.csproj
  ISL.Reidentification.Core/Services/Foundations/AccessAudit/AccessAuditService.Validations.cs
  ISL.Reidentification.Functions/ISL.ReIdentification.Functions.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Get.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.GetAll.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Delete.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Get.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.GetAll.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Post.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Put.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
Labels: CODE RUB

#106 BROKERS: Ods - Refactor
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/IPatientOrgReferenceStorageBroker.OdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/IPatientOrgReferenceStorageBroker.PdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/IPatientOrgReferenceStorageBroker.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/MockPatientOrgReferenceStorageBroker.OdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/MockPatientOrgReferenceStorageBroker.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/PatientOrgReferenceStorageBroker.OdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/PatientOrgReferenceStorageBroker.PdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/PatientOrgReferenceStorageBroker.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Logic.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Validations.RetrieveById.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Brokers/AcceptanceTestApplicationFactory.cs
Labels: BROKERS

#108 CONTROLLERS: Access Audit
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Exceptions.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Exceptions.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Exceptions.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Exceptions.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Logic.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Logic.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Logic.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.Logic.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/AuditAcesses/AccessAuditsControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/AccessAuditController.cs
Labels: CONTROLLERS

#103 ACCEPTANCE: Pds RetrieveAll
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/IPatientOrgReferenceStorageBroker.PdsData.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/MockPatientOrgReferenceStorageBroker.PdsData.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.PdsData.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Models/PdsDatas/PdsData.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
Labels: ACCEPTANCE

#105 ACCEPTANCE: Pds RetrieveById
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.PdsData.cs
Labels: ACCEPTANCE

#110 DATA: OdsData
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/PatientOrgReferenceStorageBroker.OdsData.Configurations.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/PatientOrgReference/PatientOrgReferenceStorageBroker.cs
  ISL.ReIdentification.Core/Migrations/PatientOrgReferenceStorageBrokerMigrations/20240925141548_AddOdsData.Designer.cs
  ISL.ReIdentification.Core/Migrations/PatientOrgReferenceStorageBrokerMigrations/20240925141548_AddOdsData.cs
  ISL.ReIdentification.Core/Migrations/PatientOrgReferenceStorageBrokerMigrations/PatientOrgReferenceStorageBrokerModelSnapshot.cs
  ISL.ReIdentification.Core/Models/Foundations/OdsDatas/OdsData.cs
  ISL.ReIdentification.Core/PatientOrgReferenceContextFactory.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.cs
Labels: DATA

#111 FOUNDATIONS: Validation changes post model changes for UserAccess and DelegatedAccess
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/DelegatedAccesses/DelegatedAccessesTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Add.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/ReidentificationStorageBroker.DelegatedAccess.Configurations.cs
  ISL.ReIdentification.Core/Brokers/Storages/Sql/ReIdentifications/ReidentificationStorageBroker.UserAccess.Configurations.cs
  ISL.ReIdentification.Core/ISL.ReIdentification.Core.csproj
  ISL.ReIdentification.Core/Migrations/20240909110428_AddUserAccess.Designer.cs
  ISL.ReIdentification.Core/Migrations/20240909110428_AddUserAccess.cs
  ISL.ReIdentification.Core/Migrations/20240909115707_AddDelegatedAccess.Designer.cs
  ISL.ReIdentification.Core/Migrations/20240909115707_AddDelegatedAccess.cs
  ISL.ReIdentification.Core/Migrations/20240912135017_AddLookups.Designer.cs
  ISL.ReIdentification.Core/Migrations/20240912135017_AddLookups.cs
  ISL.ReIdentification.Core/Migrations/20240913082455_ModifyUserAccess.cs
  ISL.ReIdentification.Core/Migrations/20240913121653_ModifyDelegatedAccess.cs
  ISL.ReIdentification.Core/Migrations/20240917101317_UpdatedAccessAudit.Designer.cs
  ISL.ReIdentification.Core/Migrations/20240917101317_UpdatedAccessAudit.cs
  ISL.ReIdentification.Core/Migrations/ReidentificationStorageBrokerMigrations/20240925165502_AddInitialMigration.Designer.cs
  ISL.ReIdentification.Core/Migrations/ReidentificationStorageBrokerMigrations/20240925165502_AddInitialMigration.cs
  ISL.ReIdentification.Core/Migrations/ReidentificationStorageBrokerMigrations/ReIdentificationStorageBrokerModelSnapshot.cs
  ISL.ReIdentification.Core/Migrations/ReidentificationStorageBrokerModelSnapshot.cs
  ISL.ReIdentification.Core/Models/Foundations/DelegatedAccesses/DelegatedAccess.cs
  ISL.ReIdentification.Core/Models/Foundations/UserAccesses/UserAccess.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/AccessRequest.cs
  ISL.ReIdentification.Core/Services/Foundations/DelegatedAccesses/DelegatedAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/AccessOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/IAccessOrchestrationService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/DelegatedAccessesApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Models/DelegatedAccesses/DelegatedAccess.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.Modify.cs
  ISL.Reidentification.Core/ISL.ReIdentification.Core.csproj
  ISL.Reidentification.Core/Migrations/20240913121614_AddAccessAudit.Designer.cs
  ISL.Reidentification.Core/Migrations/20240913121614_AddAccessAudit.cs
  ISL.Reidentification.Core/Models/Foundations/AccessAudit/AccessAudit.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/Models/Lookups/UserAccess.cs
Labels: FOUNDATIONS

#114 CODE RUB: updated interface
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IIdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
Labels: CODE RUB

#115 BROKERS: Updated NECS broker and added updated models
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.Exceptions.ProcessReId.cs
  ISL.ReIdentification.Core/Models/Brokers/NECS/Requests/NecsPseudonymisedItem.cs
  ISL.ReIdentification.Core/Models/Brokers/NECS/Requests/NecsReidentificationRequest.cs
  ISL.ReIdentification.Core/Models/Brokers/NECS/Responses/NecsReIdentificationResponse.cs
  ISL.ReIdentification.Core/Models/Brokers/NECS/Responses/NecsReidentifiedItem.cs
  ISL.ReIdentification.Core/Models/Foundations/ReIdentifications/IdentificationItem.cs
  ISL.ReIdentification.Core/Models/Foundations/ReIdentifications/IdentificationRequest.cs
  ISL.ReIdentification.Core/Services/Foundations/ReIdentifications/ReIdentificationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.Logic.ProcessReId.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.Validations.ProcessReId.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.cs
  ISL.Reidentification.Core/Brokers/NECS/INECSBroker.cs
  ISL.Reidentification.Core/Brokers/NECS/NECSBroker.cs
  ISL.Reidentification.Core/Models/Brokers/NECS/NECSConfiguration.cs
  ISL.Reidentification.Core/Services/Foundations/ReIdentifications/ReIdentificationService.Validations.cs
Labels: BROKERS
