Repository NHSISL/ISL.ReIdentification, pull requests merged in 2024-10, with the labels that each got.

#118 ACCEPTANCE: Access Audit
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.AccessAudit.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/AccessAuditsController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
Labels: ACCEPTANCE

#116 ORCHESTRATIONS: Identification Orchestration - Process Identification Requests
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/Exceptions/FailedServiceIdentificationOrchestrationException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/Exceptions/IdentificationOrchestrationDependencyException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/Exceptions/IdentificationOrchestrationDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/Exceptions/IdentificationOrchestrationServiceException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Identifications/Exceptions/IdentificationOrchestrationValidationException.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IIdentificationOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Exceptions.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Logic.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Validations.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
Labels: ORCHESTRATIONS

#119 COORDINATIONS: Identification Orchestration - Process Identification Requests
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/Exceptions/IdentificationCoordinationDependencyException.cs
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/Exceptions/IdentificationCoordinationDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/Exceptions/IdentificationCoordinationServiceException.cs
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/Exceptions/IdentificationCoordinationValidationException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/AccessRequest.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/Exceptions/AccessOrchestrationDependencyException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/Exceptions/AccessOrchestrationDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/Exceptions/AccessOrchestrationServiceException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/Exceptions/AccessOrchestrationValidationException.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/Exceptions/NullAccessRequestException.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Validations.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Exceptions.ProcessIdentificationRequests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.ProcessIdentificationRequests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.ProcessIdentificationRequests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.cs
Labels: COORDINATIONS

#127 CODE RUB: Removing Reports and a rename
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/.env.debug
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/core/menu.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/layouts/navbar.tsx
Labels: CODE RUB

#128 BROKERS: Notification Broker - Send Email
  ISL.ReIdentification.Core.Tests.Unit/ISL.ReIdentification.Core.Tests.Unit.csproj
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Exceptions.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Logic.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Validations.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
  ISL.ReIdentification.Core/Brokers/Notifications/INotificationBroker.cs
  ISL.ReIdentification.Core/Brokers/Notifications/NotificationBroker.cs
  ISL.ReIdentification.Core/ISL.ReIdentification.Core.csproj
  ISL.ReIdentification.Core/Models/Brokers/Notifications/NotifyConfigurations.cs
  ISL.ReIdentification.Functions/ISL.ReIdentification.Functions.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/ISL.ReIdentification.Configurations.Server.Tests.Unit.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/appsettings.json
  ISL.Reidentification.Core.Tests.Unit/ISL.ReIdentification.Core.Tests.Unit.csproj
  ISL.Reidentification.Core/ISL.ReIdentification.Core.csproj
  ISL.Reidentification.Functions/ISL.ReIdentification.Functions.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server.Tests.Acceptance/ISL.ReIdentification.Configurations.Server.Tests.Acceptance.csproj
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/ISL.ReIdentification.Configurations.Server.csproj
Labels: BROKERS

#130 FOUNDATIONS: Csv Identification Request
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Logic.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Logic.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Logic.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Logic.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/AlreadyExistsCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/CsvIdentificationRequestDependencyException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/CsvIdentificationRequestDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/CsvIdentificationRequestServiceException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/CsvIdentificationRequestValidationException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/FailedOperationCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/FailedServiceCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/FailedStorageCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/InvalidCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/LockedCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/NotFoundCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/Exceptions/NullCsvIdentificationRequestException.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/ICsvIdentificationRequestService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
Labels: FOUNDATIONS

#131 CONTROLLERS: CSV Identification Request
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/CsvIdentificationRequestController.cs
Labels: CONTROLLERS

#133 CODE RUB: User and Lookup Service Updates
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/package-lock.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/package.json
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/App.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/brokers/apiBroker.userAccess.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/bases/search/SearchBase.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRow.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRowAdd.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRowDelete.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRowEdit.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRowNew.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupRowView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/configurations/lookups/lookupTable.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/userAccess/userAccessDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/userAccess/userAccessDetailCard.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/userAccess/userAccessDetailCardView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/userAccess/userAccessRowView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/userAccess/userAccessTable.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/impersonationContext/impersonationContext.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/lookups/lookup.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/reidentificationRequest/reidentificationRequest.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/userAccess/userAccess.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/lookups/lookupView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/userAccess/userAccessView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/userAccess.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/userAccessDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/lookupService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/userAccessService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/views/lookups/lookupViewService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/views/userAccess/userAccessViewService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/vite.config.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/UserAccesses/UserAccessesControllerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/UserAccessesController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/UserAccessesController.cs
Labels: CODE RUB

#132 CONTROLLERS: ReIdentification - POST
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Exceptions.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/ReIdentificationController.cs
Labels: CONTROLLERS

#136 CONTROLLERS: ReIdentification - POST Csv
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Exceptions.PostCsvIdentificationRequests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Exceptions.PostIdentificationRequests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Logic.PostCsvIdentificationRequests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Logic.PostIdentificationRequests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/ReIdentificationController.cs
Labels: CONTROLLERS

#138 CODE RUB: Delegated Users Refactor
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/App.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/brokers/apiBroker.ImpersonationContext.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/brokers/apiBroker.csvIdentificationRequest.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/core/menu.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestDetailCard.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestDetailCardView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestRow.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestRowView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/csvIdentificationRequest/csvIdentificationRequestTable.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/delegatedUserAccess/delegatedUserAccessRow.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/delegatedUserAccess/delegatedUserAccessRowView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/delegatedUserAccess/delegatedUserAccessTable.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextDetailCard.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextDetailCardView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextRow.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextRowView.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/components/impersonationContext/impersonationContextTable.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/csvIdentificationRequest/csvIdentificationRequest.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/delegatedAccessOLD/delegatedAccess.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/impersonationContext/impersonationContext.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/reidentificationRequest/reidentificationRequest.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/csvIdentificationRequest/csvIdentificationRequestView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/delegatedAccess/delegatedAccessView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/models/views/components/impersonationContext/ImpersonationContextView.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/csvIdentificationRequest.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/csvIdentificationRequestDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/impersonationContext.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/pages/impersonationContextDetail.tsx
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/csvIdentificationRequestService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/delegatedAccessService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/impersonationContextService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/odsDataAccessService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/foundations/pdsDataAccessService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/views/csvIdentificationRequest/csvIdentificationRequestViewService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Client/src/services/views/impersonationContext/impersonationContextViewService.ts
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/CsvIdentificationRequests/CsvIdentificationRequestsrollerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ImpersonationContexts/ImpersonationContextsControllerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ImpersonationContexts/ImpersonationContextsControllerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/CsvIdentificationRequestController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/ImpersonationContextsController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
Labels: CODE RUB

#140 CODE RUB: Ods OData Setup
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/OdsDataController.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.Reidentification.WebApps.Configurations/ISL.Reidentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CODE RUB

#137 CONTROLLERS: ReIdentification - POST ImpersonationContext
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Exceptions.PostImpersonationContext.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Logic.PostImpersonationContext.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/ReIdentificationController.cs
Labels: CONTROLLERS

#145 COORDINATIONS: Persist Impersonation Context
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Exceptions.PersistImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.PersistImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.PersistImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Accesses/AccessRequest.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IIdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Validations.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/IPersistanceOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Exceptions.PostImpersonationContext.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.Logic.PostImpersonationContext.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/ReIdentification/ReIdentificationControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/ReIdentificationController.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.cs
Labels: COORDINATIONS

#146 ORCHESTRATIONS: Retrieve CSV Identification Request By Id
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Exceptions.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Exceptions.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Exceptions.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Exceptions.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Exceptions.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Validations.RemoveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.Validations.RetrieveById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Exceptions.CheckUserAccessToPatients.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Logic.RetrieveCsvIdentificationRequest.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Validation.RetrieveCsvIdentificationRequest.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.cs
  ISL.ReIdentification.Core/Models/Orchestrations/Persists/Exceptions/PersistanceOrchestrationServiceException.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/ICsvIdentificationRequestService.cs
  ISL.ReIdentification.Core/Services/Foundations/ImpersonationContexts/ImpersonationContextService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/ImpersonationContexts/ImpersonationContextService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/IPersistanceOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.cs
Labels: ORCHESTRATIONS

#150 FOUNDATIONS: ODS - Retrieve Children By Parent Id
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveChildrenByParentId.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Validations.RetrieveChildrenByParentId.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.Exceptions.cs
Labels: FOUNDATIONS

#153 COORDINATIONS: Identification - ProcessCsvIdentificationRequest
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Exceptions.ProcessCsvIdentificationRequests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.ProcessCsvIdentificationRequestAsync.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.PersistCsvIdentificationRequests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.PersistImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.ProcessCsvIdentificationRequests.cs
  ISL.ReIdentification.Core/Brokers/CsvHelpers/CsvHelperBroker.cs
  ISL.ReIdentification.Core/Brokers/CsvHelpers/ICsvHelperBroker.cs
  ISL.ReIdentification.Core/Brokers/Securities/ISecurityBroker.cs
  ISL.ReIdentification.Core/Brokers/Securities/SecurityBroker.cs
  ISL.ReIdentification.Core/ISL.ReIdentification.Core.csproj
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/Exceptions/InvalidIdentificationCoordinationException.cs
  ISL.ReIdentification.Core/Models/Securities/EntraUser.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Validations.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.ProcessIdentificationRequests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.cs
  ISL.Reidentification.Core/ISL.ReIdentification.Core.csproj
Labels: COORDINATIONS

#154 FOUNDATIONS: PDS - OrganisationsHaveAccessToThisPatient
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Exceptions.OrganisationsHaveAccessToThisPatient.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.OrganisationsHaveAccessToThisPatient.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.Validations.OrganisationsHaveAccessToThisPatient.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/IPdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/PdsDatas/PdsDataService.cs
Labels: FOUNDATIONS

#155 FOUNDATIONS: UserAccess - Retrieve All Organisations User Has AccesssTo
  .gitignore
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RetrieveAllOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAll.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAllOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RetrieveAllOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/IUserAccessService.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAll.cs
Labels: FOUNDATIONS

#157 ORCHESTRATIONS: Persists PersistCsvIdentificationRequest
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/Program.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Exceptions.PersistCsvIdentificationRequest.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Logic.PersistCsvIdentificationRequest.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Validation.PersistCsvIdentificationRequest.cs
Labels: ORCHESTRATIONS

#161 ORCHESTRATIONS: Persistance - RetrieveImpersonationContext
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Exceptions.RetrieveCsvIdentificationRequest.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Exceptions.RetrieveImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Logic.RetrieveImpersonationContext.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.Validation.RetrieveImpersonationContext.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/IPersistanceOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Persists/PersistanceOrchestrationService.cs
Labels: ORCHESTRATIONS

#169 PROCESSINGS: User Access - Modify
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Exceptions.AddUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Exceptions.ModifyUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Exceptions.RetrieveAllUserAccesses.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Exceptions.RetrieveUserAccessById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Logic.AddUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Logic.ModifyUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Logic.RetrieveAllUserAccesses.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Logic.RetrieveUserAccessById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Validation.AddUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Validation.ModifyUserAccess.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Validation.RetrieveUserAccessById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.cs
  ISL.ReIdentification.Core/Models/Foundations/UserAccesses/BulkUserAccess.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/FailedUserAccessProcessingServiceException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/InvalidUserAccessProcessingException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/NullUserAccessProcessingException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/UserAccessProcessingDependencyException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/UserAccessProcessingDependencyValidationException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/UserAccessProcessingServiceException.cs
  ISL.ReIdentification.Core/Models/Processings/UserAccesses/Exceptions/UserAccessProcessingValidationException.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/IUserAccessProcessingService.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/UserAccessProcessingService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/UserAccessProcessingService.Validations.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/UserAccessProcessingService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/Program.cs
Labels: PROCESSINGS

#170 PROCESSINGS: User Access - Remove By Id
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Modify.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ImpersonationContexts/ImpersonationContextTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Lookups/LookupServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/PdsDatas/PdsDataServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Persists/PersistanceOrchestrationServiceTests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Exceptions.RemoveUserAccessById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Logic.RemoveUserAccessById.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Processings/UserAccesses/UserAccessProcessingServiceTests.Validation.RemoveUserAccessById.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/UserAccessProcessingService.Validations.cs
  ISL.ReIdentification.Core/Services/Processings/UserAccesses/UserAccessProcessingService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/ImpersonationContextApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/ImpersonationContextApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Add.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.Validations.Modify.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/AccessAudit/AccessAuditsTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/ReIdentifications/ReIdentifactionServiceTests.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
Labels: PROCESSINGS

#174 CONTROLLERS: PDS - DELETE
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Exceptions.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Logic.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/ISL.ReIdentification.Configurations.Server.Tests.Unit.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/PdsDataController.cs
Labels: CONTROLLERS

#163 COORDINATIONS: Identifications ProcessImpersonationContextRequest
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Exceptions.ProcessImpersonationContextRequest.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.ExtractFromFilepath.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.ProcessCsvIdentificationRequestAsync.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Logic.ProcessImpersonationContextRequest.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.Validations.ProcessImpersonationContextRequest.cs
  ISL.ReIdentification.Core/Models/Coordinations/Identifications/ProjectStorageConfiguration.cs
  ISL.ReIdentification.Core/Models/Foundations/CsvIdentificationRequests/CsvIdentificationRequest.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.Validations.cs
  ISL.ReIdentification.Core/Services/Coordinations/Identifications/IdentificationCoordinationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IIdentificationOrchestrationService.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/appsettings.json
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/Program.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/appsettings.json
  ISL.Reidentification.Core.Tests.Unit/Services/Coordinations/Identifications/IdentificationCoordinationTests.cs
Labels: COORDINATIONS

#176 CONTROLLERS: Pds - POST & PUT
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Exceptions.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Exceptions.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Exceptions.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Logic.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Logic.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.Logic.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/PdsDatas/PdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/PdsDataController.cs
Labels: CONTROLLERS

#178 CODE RUB: Updated tests to be consistent on both projects
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/ImpersonationContextApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/AccessAuditsApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/ImpersonationContextApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/LookupsApiTests.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server.Tests.Acceptance/Apis/UserAccessesApiTests.cs
Labels: CODE RUB

#179 CONTROLLERS: Ods - All CRUD operations
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.GetAllChildren.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.Delete.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.Get.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.GetAll.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.GetAllChildren.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.Post.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.Put.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/ISL.ReIdentification.Configurations.Server.Tests.Unit.csproj
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CONTROLLERS

#183 CODE RUB: CsvIdentificationRequest Add Validation for Filepath
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Add.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestTests.Validations.Modify.cs
  ISL.ReIdentification.Core/Services/Foundations/CsvIdentificationRequests/CsvIdentificationRequestService.Validations.cs
Labels: CODE RUB

#164 FOUNDATIONS: UserAccesses - RetrieveAllActiveOrganisationsUserHasAccessTo
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Exceptions.RetrieveAllActiveOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAllActiveOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Validations.RetrieveAllActiveOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
  ISL.ReIdentification.Core/Services/Foundations/UserAccesses/UserAccessService.cs
Labels: FOUNDATIONS

#171 ORCHESTRATIONS: Access - Refactor to remove virtual methods
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Exceptions.ValidateAccessForIdentificationRequests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Logic.GetOrganisationsForUser.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Logic.UserHasAccessToPatient.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Logic.ValidateAccessForIdentificationRequests.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Validations.GetOrganisationsForUser.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Validations.UserHasAccessToPatient.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Accesses/AccessOrchestrationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Exceptions.CheckUserAccessToPatients.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Accesses/AccessOrchestrationServiceTests.Logic.CheckUserAccessToPatients.cs
Labels: ORCHESTRATIONS

#181 ORCHESTRATIONS: Identifications RetrieveDocumentByFilename
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Exceptions.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Logic.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Validations.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
Labels: ORCHESTRATIONS

#188 CODE RUB: Simple ID End 2 End
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Client/src/components/reIdentification/reIdentificationDetail.tsx
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Client/src/components/reIdentification/reIdentificationDetailCard.tsx
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Client/src/components/reIdentification/reIdentificationDetailCardView.tsx
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/Program.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/appsettings.json
Labels: CODE RUB

#187 ACCEPTANCE: Pds - POST
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.PdsData.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Models/PdsDatas/PdsData.cs
Labels: ACCEPTANCE

#184 ORCHESTRATIONS: Identifications AddDocument
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Exceptions.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Logic.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.Validations.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.Validations.cs
  ISL.ReIdentification.Core/Services/Orchestrations/Identifications/IdentificationOrchestrationService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Orchestrations/Identifications/IdentificationOrchestrationTests.cs
Labels: ORCHESTRATIONS

#189 ACCEPTANCE: Pds - PUT
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.PdsData.cs
Labels: ACCEPTANCE

#190 ACCEPTANCE: Pds - DELETE
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.cs
Labels: ACCEPTANCE

#191 CONTROLLERS: Pds - GET
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
Labels: CONTROLLERS

#192 CONTROLLERS: Pds - GetAll
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.cs
Labels: CONTROLLERS

#195 CODE RUB: Should Retrieve All Active Organisations User Has Access To
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.Logic.RetrieveAllActiveOrganisationsUserHasAccessTo.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/UserAccesses/UserAccessesTests.cs
Labels: CODE RUB

#196 FOUNDATIONS: Document AddDocument
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Exceptions.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Logic.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Validations.AddDocument.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.cs
  ISL.ReIdentification.Core/Models/Foundations/Documents/Exceptions/FailedServiceDocumentException.cs
  ISL.ReIdentification.Core/Models/Foundations/Documents/Exceptions/InvalidDocumentException.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.Exceptions.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Program.cs
  ISL.ReIdentification.WebApps.Portals/ISL.ReIdentification.Portals.Server/Program.cs
Labels: FOUNDATIONS

#197 FOUNDATIONS: Document RetrieveDocumentByFileName
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Exceptions.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Logic.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Validations.RetrieveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.cs
Labels: FOUNDATIONS

#198 FOUNDATIONS: Document RemoveDocumentByFileName
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Exceptions.RemoveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Logic.RemoveDocumentByFileName.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Documents/DocumentsTests.Validations.RemoveDocumentByFileName.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Documents/DocumentService.cs
Labels: FOUNDATIONS

#199 ACCEPTANCE: Ods - POST
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/OdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/OdsDataApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/OdsDatasApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/PdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.OdsData.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Models/OdsDatas/OdsData.cs
Labels: ACCEPTANCE

#207 CONTROLLERS: Ods - GetAllDescendants
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.GetAllDescendants.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.GetAllDescendants.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CONTROLLERS

#200 FOUNDATIONS: Notification SendCsvApprovedNotification
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Exceptions.SendCsvApprovedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Logic.SendCsvApprovedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Validations.SendCsvApprovedNotification.cs
  ISL.ReIdentification.Core/Services/Foundations/Notifications/NotificationService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Notifications/NotificationService.cs
Labels: FOUNDATIONS

#209 FOUNDATIONS: Notification SendImpersonationDeniedNotification
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Exceptions.SendCsvDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Exceptions.SendImpersonationApprovedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Exceptions.SendImpersonationDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Exceptions.SendImpersonationPendingApprovalNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Logic.SendCsvDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Logic.SendImpersonationApprovedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Logic.SendImpersonationDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Logic.SendImpersonationPendingApprovalNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Validations.SendCsvDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Validations.SendImpersonationApprovedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Validations.SendImpersonationDeniedNotification.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/Notifications/NotificationTests.Validations.SendImpersonationPendingApprovalNotification.cs
  ISL.ReIdentification.Core/Services/Foundations/Notifications/NotificationService.Validations.cs
  ISL.ReIdentification.Core/Services/Foundations/Notifications/NotificationService.cs
Labels: FOUNDATIONS

#185 FOUNDATIONS: Ods - RetrieveAllAncestorsByChildId
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Exceptions.RetrieveAllAncestorsByChildId.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Logic.RetrieveAllAncestorsByChildId.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.Validations.RetrieveAllAncestorsByChildId.cs
  ISL.ReIdentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/IOdsDataService.cs
  ISL.ReIdentification.Core/Services/Foundations/OdsDatas/OdsDataService.cs
  ISL.Reidentification.Core.Tests.Unit/Services/Foundations/OdsDatas/OdsDataServiceTests.cs
Labels: FOUNDATIONS

#186 CONTROLLERS: Ods - GetAncestors
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Exceptions.GetAllAncestors.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.Logic.GetAllAncestors.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Unit/Controllers/OdsDatas/OdsDataControllerTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server/Controllers/OdsDataController.cs
Labels: CONTROLLERS

#202 ACCEPTANCE: Ods - PUT
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/OdsDataApiTests.Logic.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Apis/OdsDataApiTests.cs
  ISL.ReIdentification.WebApps.Configurations/ISL.ReIdentification.Configurations.Server.Tests.Acceptance/Brokers/ApiBroker.OdsData.cs
Labels: ACCEPTANCE
